@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&family=Noto+Sans&display=swap');

*{
	box-sizing: border-box;
}
body{
	background-color: #7ff081;
	font-family: 'Noto Sans', sans-serif;
}
h1{
	color: #07031a;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:95px;
	margin-top: 70px; 
}
div{
	width: 100%;
	overflow:hidden;
	/*background-color: skyblue;*/
	position: relative;
}
/*div:after {
  content: "";
  display: block;
  clear: both;
}*/
#section{
	background-color: #dce7f7;
	padding: 17px;
	border: 4px solid black;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 19px;
	height: 184px;
	width: 30.3%;
	float: left;
}
#section1{
	background-color: #dce7f7;
	padding: 17px;
	border: 4px solid black;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 19px;
	height: 184px;
	width: 30%;
	float: left;
}
#Chicken{
	background-color: red;
	border: 2px solid black;
	padding: 0 30px 0 30px;
	width: 120px;
	margin-bottom: 30px;
	text-align: center;
	position: absolute;
	font-family: 'Muli', sans-serif;
	top: 0px;
	right: 0px;
}
#Beef{
	background-color: blue;
	border: 2px solid black;
	padding: 0 30px 0 30px;
	width: 120px;
	margin-bottom: 30px;
	text-align: center;
	position: absolute;
	font-family: 'Muli', sans-serif;
	top: 0px;
	right: 0px;
}
#Sushi{
	background-color: green;
	border: 2px solid black;
	padding: 0 30px 0 30px;
	width: 120px;
	margin-bottom: 30px;
	text-align: center;
	position: absolute;
	font-family: 'Muli', sans-serif;
	top: 0px;
	right: 0px;
}
@media (min-width: 992px) and (max-width: 1215px){
	#section
	{
		width: 29.8%;
		height: 175px;
		font-size: 14px;
		margin-left: 15px;
		padding-top: 12.2px;
	}
	#section1
	{
		width: 29.8%;
		height: 175px;
		font-size: 14px;
		margin-left: 15px;
		padding-top: 12.2px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	#section
	{
		width: 45.4%;
		height: 173px;
		font-size: 15px;
		margin-left: 15px;
		padding-top: 17px;
	}
	#section1
	{
		width: 94.3%;
		height: 110px;
		font-size: 15px;
		margin-left: 15px;
		padding-top: 17px;
	}
}
@media (min-width: 544px) and (max-width: 767px){
	#section
	{
		width: 95%;
		height: 130px;
		font-size: 15px;
		margin-left: 15px;
		padding-top: 15px;	
	}
	#section1
	{
		width: 95%;
		height: 130px;
		font-size: 15px;
		margin-left: 15px;
		padding-top: 15px;
	}
}